pandas
zenml
catboost===1.0.4
lightgbm==3.3.2
xgboost==1.5.2
zenml==0.35.1
mlflow==2.11.3
cloudpickle==2.2.1
numpy==1.26.4
packaging==23.2
psutil==5.9.8
pyyaml==6.0.1
scikit-learn==1.4.1.post1
scipy==1.13.0
typing-extensions==4.10.0